.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
  font-size: 3.5rem;
}
}

.image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.bg-image {
  max-width: 994px;
  height: 994px;
  opacity: .5;
}

.carousel-item {
  background-color: #000;
}

